
<h2 class="text-center mt-2 mb-2"> Search Weather Details</h2>

<div class="container">
  <div  class="row"  *ngFor="let i of data">
    <div class="col-md-4">
      <app-weather-report ></app-weather-report>
    </div>
    <div class="col-md-4">
      <app-weather-report ></app-weather-report>
    </div>
    <div class="col-md-4">
      <app-weather-report ></app-weather-report>
    </div>
  </div>
</div>
