<div class="custom-class" (click)="showText(true)" >


  <div class="custom-div-class" >
    <input  class="form-control" *ngIf="showTextBox" [(ngModel)]="name" #ctrl="ngModel" required>
    <button class="btn btn-success" *ngIf="showTextBox"  (click)="getWeather(name)">get</button>
  </div>


  <div *ngIf="cityData?.name">City: {{cityData?.name}} </div>

  <div *ngIf="cityData?.main?.humidity">Humidity : {{cityData?.main?.humidity}} </div>


  <div *ngIf="cityData?.main?.pressure">Pressure : {{cityData?.main?.pressure}} </div>


  <div *ngIf="cityData?.main?.temp">Temp : {{cityData?.main?.temp}} </div>

  <div *ngIf="cityData?.main?.temp_max">Temp_max : {{cityData?.main?.temp_max}} </div>

  <div *ngIf="cityData?.main?.temp_min">Temp_min : {{cityData?.main?.temp_min}} </div>


  <img *ngIf="cityData?.name" [src]="getIconUrl(cityData?.weather[0]?.icon)"  />
  {{showErrorMsg}}
</div>
