.custom-class{
  padding: 2px;
  min-height: 150px;
  background-color: antiquewhite;
  margin: 5px;
  input{
    margin: 5px;
  };
  div{
    padding: 0px 10px;
    margin: 5px 0px;
  }
}


.custom-div-class{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
